header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: white;
}
.logo__box {
  width: 200px;
  height: 200px;
  margin: 50px 0 0 110px;
  background-color: rgba($color: #000000, $alpha: 0.4);
  border-radius: 50%;
}
.logo__img {
  width: 100px;
  height: 100px;
  margin: 50px 0 0 0;
}
.title__box-welcome {
  width: 290px;
  height: 290px;
  margin: 15px 50px 15px 0px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  border-radius: 50%;
}

.header__text-welcome {
  color: white;
  margin-top: 50px;
  font-family: Rock_salt;
  font-size: 1.5em;
}
.title__text-main {
  font-family: Rock_salt;
  font-size: 2em;
  padding: 60px 0 0 0;
  margin: auto 30px;
}

h2 {
  color: white;
  font-family: Rock_salt;
  font-size: 0.5em;
}
@media screen and (max-width: 960px) {
  .title__box-welcome {
    margin: 50px;
    padding: O O 20px 0;
  }
}
