body {
  background-color: rgb(49, 48, 48);
}
.background__image {
  width: 100%;
  min-height: 1450px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  opacity: 0.33;
}
.stretch {
  width: 100%;
  height: 100%;
}
